@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.logo{
    width: 90px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
header ul li{
    list-style-type: none;
}      
header ul li a{
    text-decoration: none;
    color: #01295D;
    font-weight: bold;
} 
header ul li a:hover{
    color: #F25C05;
}
.button{
    padding: .5em 1em;
    background-color: #F25C05;
    text-decoration: none;
    color: #01295D;
    font-weight: 800;
    border-radius: 20px;
} 

main{
    background-color: #d9d9d95a;
    padding-top: 4em;
    min-height: 100vh;
    padding: 5em;
}
.billets{
    justify-content: center;
}
.billet {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    
}