@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.logo{
    width: 90px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
header ul li{
    list-style-type: none;
}      
header ul li a{
    text-decoration: none;
    color: #01295D;
    font-weight: bold;
} 
header ul li a:hover{
    color: #F25C05;
}
.button{
    padding: .5em 1em;
    background-color: #F25C05;
    text-decoration: none;
    color: #01295D;
    font-weight: 800;
    border-radius: 20px;
} 

main{
    background-color: #d9d9d95a;
    padding-top: 4em;
}
/*background: linear-gradient(to right, blue, pink);*/
h1{
    text-align: center;
    color: #01295D;
}
h1 span{
    color: #F25C05;
}
h4{
    color: #01295D;
    text-align: center;
}
.banniere{
    display: flex;
    margin-top: 4em;
}
form{
    width: 50%;
    display: flex;
    justify-content: center;
}
form h2{
    color: #01295D;
    font-size: 2.5em ;
}
form ul .form{
     display: flex;
     justify-content: space-between;
     width: 105%;
     margin-top: 1em;
} 
form ul li{
    list-style-type: none;
} 
form .info-client{
    width: 19em;
    height: 3.5em;
    background-color: #01295d1d;
    padding: 10px;
}
form ul li textarea{
    width: 105%;
    height: 6em;
    margin: 1em 0 1.5em 0;
    background-color: #01295d1d;
    border: .5 solid gray;

}    
.banniere img{
    width: 50%;
}
.boutton{
    padding: .7em 3em;
    background-color: #01295D;
    color: #F25C05;
    font-weight: bold;
    border-radius: 50px;
}

.horaire{
    width: 50%;
    height: 28em;
}
.test{
    display: flex;
}
